.popup__content {
  width: 358px;
  padding-top: 34px;
  padding-bottom: 37px;
}

@media screen and (max-width: 320px) {
  .popup__content {
    width: 238px;
    padding-top: 25px;
    padding-bottom: 25px;
  }
}