.popup__button-close {
  background: url("../../../images/Close\ Icon.svg");
  background-size: cover;
  width: 32px;
  height: 32px;
  border: none;
  position: absolute;
  top: -40px;
  left: 438px;
}

@media screen and (max-width: 320px) {
  .popup__button-close {
    width: 20px;
    height: 20px;
    left: 270px;
    top: -30px;
  }
}